# requirements.txt file
boto3==1.15.11
botocore==1.18.11
certifi==2020.12.5
chardet==4.0.0
idna==2.10
joblib==1.0.0
numpy==1.20.1
requests==2.25.1
scikit-learn==0.24.1
scipy==1.6.0
sklearn==0.0
threadpoolctl==2.1.0
urllib3==1.25.9
elasticsearch==7.10.1
pyspark==3.0.1